:root{
  display: flex;
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
}
.navbar{
  height: 59px;
  border: 1px solid gray;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

}

.insidecontect{
  border: 1px solid black;
  width: 500px;
  height: 500px;
}

.footer{
  border: 1px solid gray;
  height: 60px;
}
